html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #000000;
  font-family: 'Manrope';
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1240px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
  opacity: 0;
  -webkit-transition: all 500ms linear 0ms;
  transition: all 500ms linear 0ms;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 80vw;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
}

@media screen and (max-width: 479px) {
  .modal {
    width: 94%;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1199px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  fill: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover {
  background-color: #9b44ff;
}

.close-svg {
  position: absolute;
  width: 11px;
  height: 11px;
  right: 9px;
  top: 9px;
  bottom: 10px;
  fill: black;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  min-width: 100px;
  min-height: 35px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #9b44ff;
  outline: none;
  border: none;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #f1e4ff;
  border: 2px solid #9b44ff;
  color: #9b44ff;
}

.primary {
  margin-bottom: 20px;
}

.secondary {
  background-color: #f1e4ff;
  color: #9b44ff;
}

.secondary:hover,
.secondary:focus {
  background-color: #9b44ff;
  border: 2px solid #9b44ff;
  color: #f1e4ff;
}

@media screen and (min-width: 1200px) {
  .secondary {
    margin-left: 14px;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider {
  position: relative;
}

@media screen and (min-width: 480px) {
  .slider {
    padding: 0px 45px;
    margin: 0 50px;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -60px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
  outline: none;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../svg/arrowLeft.svg) 0 0/100% no-repeat;
  background-size: 22px 14px;
  background-position: left 8px top 12px;
  cursor: pointer;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../svg/arrowRight.svg) 0 0/100% no-repeat;
  background-size: 22px 14px;
  background-position: right 8px bottom 12px;
  cursor: pointer;
}

.slider__item {
  text-align: center;
  margin: 0 48px 67px;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider-img {
  background-image: url(../image/screen.png);
  background-position: center;
  background-repeat: no-repeat;
}

.slider__item.slick-center {
  opacity: 1;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.slider .slick-dots li {
  margin: 0px 4px;
}

.slider .slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 11px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #d9dbe1;
  cursor: pointer;
}

.slider .slick-dots li.slick-active button {
  width: 18px;
  height: 12px;
  background-color: #2ec5ce;
  border-radius: 25px;
  cursor: pointer;
}

.contact-form {
  min-width: 290px;
  text-align: center;
}

.input {
  min-width: 290px;
  height: 45px;
  background: #f9f9f9;
  border-radius: 8px;
  border: none;
  padding: 9px 24px 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.input:not(:last-child) {
  margin-bottom: 16px;
}

.input:focus {
  outline: none;
  border-color: #9b44ff;
}

.input:not(:placeholder-shown):valid {
  border-color: green;
}

.input:not(:placeholder-shown):invalid {
  border-color: red;
}

.input::-webkit-input-placeholder {
  color: #a8a8a8;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.87;
}

.input:-ms-input-placeholder {
  color: #a8a8a8;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.87;
}

.input::-ms-input-placeholder {
  color: #a8a8a8;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.87;
}

.input::placeholder {
  color: #a8a8a8;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.87;
}

.send {
  min-width: 290px;
  height: 45px;
  font-size: 18px;
}

@media screen and (min-width: 480px) {
  .contact-form {
    min-width: 400px;
  }
  .input {
    min-width: 400px;
  }
  .send {
    min-width: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .contact-form {
    width: 486px;
    text-align: left;
  }
  .input {
    width: 486px;
  }
  .send {
    width: 486px;
  }
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: #fff;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader__icon {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: 100%;
  -webkit-animation: heartBeat;
          animation: heartBeat;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header {
  position: relative;
  background-color: black;
  padding: 18px 0;
}

.header-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
}

.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: heartBeat;
          animation: heartBeat;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.logo-svg {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-list .link {
  display: block;
  color: #ffffff;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list .link:hover,
.navigation-list .link:focus {
  color: #9b44ff;
}

.navigation-item {
  font-size: 18px;
  line-height: 1.167;
  padding: 8px 0px;
}

.navigation-item:not(:last-child) {
  position: relative;
}

@media screen and (max-width: 767px) {
  .navigation-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .navigation-list-deck {
    display: none;
  }
  .primary-deck {
    display: none;
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  margin: 0px;
  margin-left: auto;
  padding: 0px;
  border: none;
  background: transparent;
  fill: #f1e4ff;
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-close-menu {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: black;
  border-top: 1px solid #ececec;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: scaleY(0.9);
          transform: scaleY(0.9);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-button:hover,
.menu-button:focus {
  fill: #9b44ff;
}

@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: none;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .menu-button {
    display: none;
  }
  .header-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0px;
  }
  .navigation-item {
    font-size: 14px;
    line-height: 1.167;
    margin-bottom: 0;
  }
  .navigation-item:not(:last-child) {
    margin-right: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-list__items:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .navigation {
    margin-right: 188px;
  }
  .logo-wrapper {
    margin-right: 305px;
  }
  .header-page {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .navigation-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  background-color: black;
  min-height: 300px;
  padding: 50px 0;
}

.hero-content {
  width: 280px;
  min-height: 150px;
}

.hero-title {
  color: #ffffff;
  margin-bottom: 16px;
  font-size: 50px;
  font-weight: bold;
}

.hero-text {
  color: #ffffff;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 1.2;
}

.hero-button {
  min-width: 126px;
  min-height: 40px;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: url(../image/mobile.png);
    background-repeat: no-repeat;
    background-position: right 7px bottom 120px;
    background-size: 215px;
  }
  .button-wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    min-height: 750px;
    padding-bottom: 0;
    padding: 258px 0;
    background-image: url(../image/Card1.svg), url(../image/Card2.svg), url(../image/MobileMockup.svg);
    background-repeat: no-repeat;
    background-position: right 345px top 140px, right 75px bottom 135px, right 220px center;
    background-size: 400px;
  }
  .hero-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .hero-content {
    min-width: 540px;
    min-height: 234px;
  }
  .hero-title {
    font-size: 70px;
  }
  .hero-text {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 1.78;
  }
  .hero-button {
    min-width: 196px;
    min-height: 50px;
  }
  .button-wrapper {
    display: block;
  }
}

.advantages {
  padding-top: 25px;
  padding-bottom: 35px;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 40px;
  text-align: center;
}

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 245px;
  margin: 0 auto;
}

.advantages-item:not(:last-child) {
  margin-bottom: 20px;
}

.advantages-item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  margin-bottom: 4px;
}

.advantages-item-text {
  line-height: 1.63;
  text-align: center;
}

.advantages-card {
  margin: 0 auto;
}

.advantages-svg {
  width: 24px;
  height: 24px;
}

.svg-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #fafafa;
  margin: 0 auto 16px;
}

@media screen and (min-width: 1440px) {
  .advantages {
    padding-top: 181px;
    padding-bottom: 76px;
  }
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advantages-title {
    text-align: left;
    font-size: 40px;
    line-height: 1.6;
    margin-bottom: 80px;
  }
  .advantages-item {
    margin-bottom: 0;
    min-width: 255px;
  }
  .advantages-item:not(:last-child) {
    margin-right: 60px;
  }
  .advantages-item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
  }
  .advantages-item-text {
    font-size: 16px;
    line-height: 1.63;
    text-align: left;
  }
  .advantages-card {
    margin: 0;
    padding: 16px 0;
  }
  .linedown {
    background-image: url(../svg/linedown.svg);
    background-repeat: no-repeat;
    background-position: right top 46px;
  }
  .lineup {
    background-image: url(../svg/lineup.svg);
    background-repeat: no-repeat;
    background-position: right top 25px;
  }
  .svg-wrapper {
    margin: 0 16px 16px 0;
  }
  .svg-wrapper:hover {
    -webkit-animation: heartBeat;
            animation: heartBeat;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
}

.screens {
  padding-top: 25px;
  padding-bottom: 35px;
}

.screens-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .screens {
    padding-top: 76px;
    padding-bottom: 68px;
  }
  .screens-title {
    text-align: left;
    font-size: 40px;
    line-height: 1.6;
    margin-bottom: 96px;
  }
}

.form {
  padding-top: 25px;
  padding-bottom: 35px;
}

.form-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .form {
    padding-top: 68px;
    padding-bottom: 136px;
  }
  .form-wrapper {
    min-height: 610px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-title {
    text-align: left;
    font-size: 40px;
    line-height: 1.6;
    margin-bottom: 32px;
  }
  .form-image {
    min-width: 610px;
    min-height: 610px;
    background-image: url(../image/iPhoneX.png), url(../image/mockCard.png), url(../image/cricleBG.png);
    background-repeat: no-repeat;
    background-size: 290px 550px, 263px 231px, 607px 607px;
    background-position: bottom -50px left 89px, right 75px bottom 135px, left;
  }
}

.footer {
  background: black;
  min-height: 369px;
  color: #f9f9f9;
  padding: 42px 0 10px;
}

.big-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.footer-list-wrapper {
  min-width: 150px;
  margin-bottom: 20px;
}

.little-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.56;
  margin-bottom: 14px;
}

.footer-list-link {
  font-size: 12px;
  line-height: 1.71;
  color: #f9f9f9;
}

.googlePlay {
  margin-bottom: 7px;
}

.footer-list-item:not(:last-child):not(:last-child) {
  margin-bottom: 7px;
}

.copyright-text {
  font-size: 10px;
  line-height: 1.71;
  color: #d9dbe1;
}

.join {
  width: 200px;
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}

.join-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.join-list__link:hover,
.join-list__link:focus {
  background-color: #9b44ff;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f1e4ff;
}

.join-list__svg {
  width: 17px;
  height: 17px;
  fill: #ffffff;
}

.join-list__items:not(:last-child) {
  margin-right: 24px;
}

@media screen and (min-width: 480px) {
  .big-footer {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    min-height: 369px;
    padding: 72px 0 22px;
  }
  .big-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 70px;
  }
  .footer-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 24px;
  }
  .footer-list-link {
    font-size: 14px;
    line-height: 1.71;
  }
  .footer-list-item:not(:last-child):not(:last-child) {
    margin-bottom: 12px;
  }
  .footer-list-item .footer-list-link:hover {
    color: #9b44ff;
    -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .googlePlay {
    margin-bottom: 16px;
  }
  .install {
    padding-top: 10px;
  }
  .copyright-text {
    font-size: 14px;
    line-height: 1.71;
    color: #d9dbe1;
  }
}
/*# sourceMappingURL=main.css.map */