.form-wrapper {
  padding-top: 25px;
  padding-bottom: 35px;
}
.form-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .form-wrapper {
    padding-top: 68px;
    padding-bottom: 136px;
  }
  .form-title {
    text-align: left;
    font-size: 40px;
    line-height: 1.6;
    margin-bottom: 32px;
  }
}
