.form-wrapper {
  padding-top: 25px;
  padding-bottom: 35px;
}
.form-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .form-wrapper {
    padding-top: 68px;
    padding-bottom: 136px;
    min-height: 610px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form-title {
    text-align: left;
    font-size: 40px;
    line-height: 1.6;
    margin-bottom: 32px;
  }
  .form-image {
    min-width: 610px;
    min-height: 610px;
    background-image: url(../../image/iPhoneX.png), url(../../image/mockCard.png), url(../../image/cricleBG.png);
    background-repeat: no-repeat;
    background-size: 290px 550px, 263px 231px, 607px 607px;
    background-position: bottom -50px left 89px, right 75px bottom 135px, left;
  }
}
