.hero {
  background-color: $black-color;
  min-height: 300px;
  padding-bottom: 25px;
}
.hero-wrapper {
  background-image: url(./../image/mobile.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 215px;
}
.hero-content {
  width: 280px;
  min-height: 150px;
}
.hero-title {
  color: $secondary-text-color;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 70px;
}
.hero-text {
  color: $secondary-text-color;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.2;
}
.hero-button {
  min-width: 126px;
  min-height: 40px;
}
.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 1440px) {
  .hero {
    min-height: 750px;
    padding-bottom: 0;
  }
  .hero-wrapper {
    display: flex;
    align-items: baseline;
    background-image: url(./../image/Card1.svg), url(./../image/Card2.svg), url(./../image/MobileMockup.svg);
    background-position: right 215px top 140px, right -25px bottom 135px, right 90px center;
    background-size: 400px;
  }
  .hero-content {
    min-width: 540px;
    min-height: 234px;
    padding: 258px 0;
  }
  .hero-text {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 1.78;
  }
  .hero-button {
    min-width: 196px;
    min-height: 50px;
  }
  .button-wrapper {
    display: block;
  }
}
