html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: $primary-text-color;
  font-family: 'Manrope';
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  color: $secondary-text-color;
  margin: 0;
  padding: 0;
}
ul {
  padding-inline-start: 10px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
